 <h2 mat-dialog-title>Cliet Details</h2>
<mat-dialog-content>
    <form action="">
       
        <div class="example-form-fields">
            <mat-form-field
               
                [floatLabel]="getFloatLabelValue()">
            CLIENT Name :<input matInput placeholder="Simple placeholder" required>
            </mat-form-field>
          
        </div>

        <div class="example-container">
            <mat-form-field>
              <mat-label>Enter your email</mat-label>
              Email: <input matInput
                     placeholder="pat@example.com" 
             >
            </mat-form-field>
          </div>
          <button mat-stroked-button color="warn" mat-dialog-close>Close</button>
    </form>
</mat-dialog-content>

  


